<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Formulário de cadastro de produtos</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container">
        <h2 class="display-6">Adicionar Produtos</h2>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <form action="/produtos/incluir" method="POST">
                <div class="form-group">
                    <div class="col col-lg-4">
                        <label>Nome</label>
                        <input class="form-control" type="text" name="nome">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-lg-8">
                        <label>Descrição</label>
                        <input class="form-control" type="text" name="descricao">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-lg-2">
                        <label>Preço</label>
                        <input class="form-control" type="text" name="preco" id="vlr">
                    </div>
                </div>
                </br>
                <input class="btn btn-primary" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</body>
</html>